<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">

  <title>{% block title %}yoursite.com{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/static/favicon.ico">

  <!-- HTML5 shim, for IE 6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
  <link rel="stylesheet/less" href="/static/css/main.less">
  {% block css %}{% endblock %}

  <!-- Rather use `less.js` to dynamically compile your `stylesheet/less` files? -->
  <script>window.less || document.write('<script src="/static/js/less.js">\x3C/script>')</script>

  <script>window.jQuery || document.write('<script src="/static/js/jquery.js">\x3C/script>')</script>

  <script>window._|| document.write('<script src="/static/js/underscore.js">\x3C/script>')</script>

  <script>window.Backbone || document.write('<script src="/static/js/backbone.js">\x3C/script>')</script>

  <script type="text/javascript" src="/static/js/cctv.js"></script>


  <!-- Need Modernizr? Uncomment the following script. -->
  <!-- <script src="/static/js/modernizr.js"></script> -->

</head>

<body>

  <header>
    {% include "header.html" %}
  </header>

  <div id="main" role="main">
    {% block main %}{% endblock %}
  </div>

  <footer>
    {% include "footer.html" %}
  </footer>


  <!-- JavaScript at the bottom for fast page loading -->



  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->

  <!-- Additional JavaScript libraries and plugins... -->
  {% block js %}

  {% endblock %}

  <script type="text/javascript">
  </script>

  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->

  <!-- Prompt IE < 8 users to install Chrome Frame.  -->
  <!--[if lt IE 8 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>
